  <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top p-3">
    <div class="container-fluid w-50">
      
      

      <a class="navbar-brand">
        <img src="../assets/img/logo.png" alt="FitnessClub" width="180" [routerLink]="['principal']">
      </a>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/tienda">Tienda</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/carrito">Carrito</a>
          </li>

          <li class="nav-item dropdown"routerLinkActive="active">
            <a class="nav-link" routerLink="/nosotros">
          Nosotros
          </a>
        </li>

      <li class="nav-item"routerLinkActive="active">
          <a class="nav-link" routerLink="/contacto">Contacto</a>
      </li>

        </ul>

      
        <ul class="navbar-nav navbar-right">
          <li *ngIf="!authService.isAuthenticated()"class="dropdown">
            <a [routerLink]="['/login']" class="text-light btn btn-info btn-info-outline-primary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ingresar
            </a>
            <div class="dropdown-menu">
              <button [routerLink]="['/usuarios/form']" class="dropdown-item" type="submit">Registrarse</button>
          </div>
          </li>
            <li *ngIf="authService.isAuthenticated()"class="dropdown">
              <a class="text-light btn btn-info btn-info-outline-primary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{authService.usuario.apellido}}, {{authService.usuario.nombre}}
              </a>
              <div class="dropdown-menu">
                <button (click)="abrirModal(authService.usuario)" class="dropdown-item" type="submit">Cambiar Imagen de Usuario</button>
                <button class="dropdown-item" type="submit"  [routerLink]="['/usuarios/form',authService.usuario.idUsuario]">Editar Datos</button>
                <button (click)="cerrarSesion()" class="dropdown-item" type="submit">Cerrar Sesion</button>
              </div>
            </li>
        </ul>

      </div>
    </div>
  </nav>
  <detalle-usuario *ngIf="usuarioSeleccionado" [usuario]="usuarioSeleccionado" ></detalle-usuario>
