<!-- ::: NOSOTROS ::: -->
<section class="mx-auto text-center pb-5 text-secondary">
    <div class="p-4" id="principles">
        <h2>
            <span class="span4">Nuestro Gimnasio.</span>
        </h2>
        <span class="span5">
        <i class="bi bi-balloon-heart text-warning fs-1"></i>
      </span>
    </div>
    <div class="">
        <div class="d-flex">
            <div class="p-2 m-2 fw-bold d-i">Somos un grupo interdisciplinario con apego a la filosofía de salud y bienestar. Nos entregamos con profesionalismo al logro de los objetivos. </div>
            <div class="p-2 m-2 fw-bold">Tenemos un compromiso social bajo normas éticas enmarcadas en el respeto a la dignidad humana y los derechos individuales.</div>
        </div>
    </div>
    <i class="bi bi-clipboard2-data text-info fs-2"></i>

    <div class="d-md-none mt-4 bg-primary p-2 text-light">
        <h2>Nos formamos en ética y moral.</h2>
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src=".\assets\img\kingboxing.jpg" class="d-block w-70" alt="...">
            </div>
            <div class="carousel-item">
                <img src=".\assets\img\maquinas.jpg" class="d-block w-70" alt="...">
            </div>
            <div class="carousel-item">
                <img src=".\assets\img\maquinas2.jpg" class="d-block w-70" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>

    <div class="w-50 mx-auto">
        <div class="p-4">
            <p class="mt-4 fs-3">Una propuesta para adquirir<span class="fw-bold"> todas las fortalezas</span></p>
        </div>

        <p class="p-4 fs-4 d-none d-md-block">Creemos en el principio de igualdad social<br>por eso garantizamos nuestro trabajo impulsando una<br><span class="fw-bold">sociedad que respete las diferencias individuales</span></p>
    </div>
</section>