<div class="tienda">
    <div>
        <h1 > TIENDA <small>FITNESS CLUB</small></h1>
    </div>
    <hr>
    <div class="row row-cols-2 row-cols-md-3 g-4 h-100">
        <div class="card animated fadeIn fast " *ngFor="let producto of productos" id="encuadrado">
            <br>
            <br>
            <img class="card-img-top img-fluid" src="http://localhost:8080/api/productos/uploads/img/{{producto.imagen}}" [alt]="producto.imagen">
            <div class="card-block">
                <h4 class="card-title" id="titulo">{{producto.descripcion | uppercase}} <small>{{producto.marca.nombre}}</small></h4>
                <p class="card-text">{{ producto.precioUnitario  | currency: '$'}}</p>
                <!--<button type="button" class="btn btn-outline-primary btn block"> Ver mas...</button>-->
                <a class="btn btn-outline-primary" id="boton-comprar"> Ver Info... </a>
            </div>
        </div>
    </div>
    <paginator-nav *ngIf="paginador" [paginador]="paginador" paginaAPaginar="tienda"></paginator-nav>
</div>

