<detalle-usuario *ngIf="usuarioSeleccionado" [usuario]="usuarioSeleccionado" ></detalle-usuario>
  
  <div class="grilla">
    <div>
        <h1 >Gestion de Usuarios</h1>
    </div>
    <hr>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/usuarios/form']">Crear Usuario</button>
  </div>
  <div *ngIf="usuarios.length==0" class="alert alert-info">
      No hay registros en la base de datos!
  </div>
    <table class="table table-bordered table-striped" *ngIf="usuarios.length>0">
      <thead>
          <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>DNI</th>
              <th>Email</th>
              <th>Direccion</th>
              <th>Rol</th>
              <th>Estado</th>
              <th>Editar</th>
              <th>Eliminar</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td><img *ngIf="usuario?.imagen" src="http://localhost:8080/api/usuarios/uploads/img/{{usuario.imagen}}" alt="{{usuario.imagen}}" class="img-thumbnail rounded" (click)="abrirModal(usuario)" style="width:64px; cursor: pointer;">
              <img *ngIf="!usuario?.imagen" src="http://localhost:8080/images/no-usuario.png" alt="Sin foto" class="img-thumbnail rounded" (click)="abrirModal(usuario)" style="width:64px; cursor: pointer;"></td>
              <td>{{usuario.nombre}}</td>
              <td >{{usuario.apellido}}</td>
              <td>{{usuario.dni}}</td>
              <td>{{usuario.email}}</td>
              <td>{{usuario.direccion}}</td>
              <td>{{rol(usuario.rol)}}</td>
              <td>{{estado(usuario.estado)}}</td>
              <td>
                <button type="button" name="editar" [routerLink]="['/usuarios/form',usuario.idUsuario]" class="btn btn-primary btn-sm">editar</button>
            </td>
            <td>
              <button type="button" name="eliminar" (click)="delete(usuario)" class="btn btn-danger btn-sm">eliminar</button>
          </td>
          </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginador" [paginador]="paginador" paginaAPaginar="usuarios"></paginator-nav>
</div>