<detalle-producto *ngIf="productoSeleccionado" [producto]="productoSeleccionado"></detalle-producto>
  
  <div class="grilla">
    <div>
        <h1 >Gestion de Productos</h1>
    </div>
    <hr>
    <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/productos/form']">Crear Producto</button>
    </div>
    <div *ngIf="productos.length==0" class="alert alert-info">
        No hay registros en la base de datos!
    </div>
    <table class="table table-bordered table-striped" *ngIf="productos.length>0">
        <thead>
            <tr>
                <th>#   </th>
                <th>Marca</th>
                <th>Descripcion</th>
                <th>Rubro</th>
                <th>Disciplina</th>
                <th>Precio Unitario</th>
                <th>Stock</th>
                <th>Servicio</th>
                <th>Estado</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <td><img *ngIf="producto?.imagen" src="http://localhost:8080/api/productos/uploads/img/{{producto.imagen}}" alt="{{producto.imagen}}" class="img-thumbnail rounded" (click)="abrirModal(producto)" style="width:64px; cursor: pointer;">
                    <img *ngIf="!producto?.imagen && producto?.servicio" src="http://localhost:8080/images/no-servicio.jpeg/" alt="Sin foto" class="img-thumbnail rounded" (click)="abrirModal(producto)" style="width:64px; cursor: pointer;">
                    <img *ngIf="!producto?.imagen && !producto?.servicio" src="http://localhost:8080/images/no-producto.jpeg/" alt="Sin foto" class="img-thumbnail rounded" (click)="abrirModal(producto)" style="width:64px; cursor: pointer;"></td>
                <td>{{producto.marca.nombre}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.rubro.nombre}}</td>
                <td>{{producto.disciplina.nombre}}</td>
                <td>{{producto.precioUnitario  | currency: '$'}}</td>
                <td>{{producto.stock}}</td>
                <td>{{esServicio(producto.servicio)}}</td>
                <td>{{estado(producto.estado)}}</td>
                <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                    <button type="button" name="editar" [routerLink]="['/productos/form',producto.idProducto]" class="btn btn-primary btn-sm">editar</button>
                </td>
                <td>
                    <button type="button" name="eliminar" (click)="delete(producto)" class="btn btn-danger btn-sm">eliminar</button>
                </td>
            </tr>
        </tbody>
      </table>
      <paginator-nav *ngIf="paginador" [paginador]="paginador" paginaAPaginar="productos"></paginator-nav>
</div>