.grilla {
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 5px 5px 5px 5px rgb(182, 182, 182);
    padding: 5vh;
    width: 100%;
    height: 10%;
    margin-left: 7%;
}

h1 {
    color: rgb(24, 153, 155);
        text-align-last: center;
        font-size: 4vh;
        margin-left: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
}