<nav class="dashAdmin nav flex-column" id="menu">
    <div>

        <a class="nav-link" routerLink="/marcas">Gestion de Marcas</a>
        <a class="nav-link" routerLink="/disciplinas">Gestion de Disciplinas</a>
        <a class="nav-link" routerLink="/rubros">Gestion de Rubros</a>
        <a class="nav-link" routerLink="/productos">Gestion de Productos</a>
        <a class="nav-link" routerLink="/usuarios">Gestion de Usuarios</a>
        <a class="nav-link" routerLink="/comprobantes">Comprobantes</a>
    </div>
</nav>